@import "bootstrap";

#logo {
    color: $orange-500;
    font-weight: bold;
}
#logo:hover {
    color: $orange-600;
    text-decoration: none;
}
  
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.bg-body-tertiary {
    background-color: #010a48;
}

.butoane-nav {
  color: $orange-500;
} 

.butoane-nav:hover {
  color: $orange-600;
}

.category-card {
    margin:15px;
}

.card-image {
    max-height: 200px; /* Adjust the value as needed */
    object-fit: contain;
  }
